body {
  background-color: #363636;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px 0px;
  font-family: sans-serif;
}

.logo {
  width: 150px;
}

.nav-items {
  padding: 0px 30px;
}

.nav-items > ul {
  font-size: 18px;
  color: #fafafa;
  display: flex;
  letter-spacing: 3px;
  list-style-type: none;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-items > ul > li {
  padding: 10px;
}

.nav-items > ul > li:hover {
  color: #aeaeae;
}

.login {
  padding: 0px 30px;
  cursor: pointer;
  border-radius: 20px;
}

/* Search Bar */
.search {
  margin: 10px 0px;
  padding: 10px;
  text-align: center;
}

.search_box {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-btn {
  margin-left: 2px;
  width: 80px;
  padding: 10px;
  border-radius: 8px;
}

/* Card */
.card {
  line-height: 1.6em;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  padding: 5px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  border: 1px solid #fff;
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.res-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: auto;
  border-radius: 8px;
}

/* Body */
.body {
  font-family: sans-serif;
  padding: 20px;
}

.res-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-btn {
  padding: 2px 16px;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 20px;
}

.shimmer-cards {
  width: 200px;
  height: 250px;
  background-color: #8f8f8f;
  border-radius: 8px;
}

.shimmer {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.details-r {
  margin-right: 30px;
}

.Ingre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.user-card {
  border: 1px solid #222222;
  padding: 20px;
  margin: 20px;
}
